*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Here we are counting on browser's default font-size and it's initially is 16px
  // If user has its own default font size, we'll use it here instead
  // Also, this defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
